
<div class="container">
  <div class="row">
    <div class=" col align-self-center">
    <h2 class="display-2 gap"><%= greeting_message %></h2>
    </div>
    <div class="col align-self-center mt-5">
      <p>Your ultimate destination for transforming your surroundings into a verdant paradise. At Jungle, we are passionate about bringing the timeless beauty and tranquility of nature into your life.</p>

      <p>With a diverse selection of trees, shrubs, and evergreens, we offer the essential elements to create stunning landscapes that stand the test of time. Whether you're seeking the majestic presence of towering trees, the elegant charm of shrubs, or the year-round vibrancy of evergreens, Jungle has you covered.</p>
      <p>Our commitment to quality is unwavering. Each plant in our collection is meticulously sourced from reputable growers who share our dedication to sustainability and environmental responsibility. We believe in fostering a harmonious relationship between humans and nature, and every purchase from Jungle contributes to that vision.</p>

      <p>But Jungle is more than just a purveyor of greenery. We are a community of passionate gardeners, landscape enthusiasts, and nature lovers who share a common bond: a deep appreciation for the wonders of the natural world. Our team of experts is here to support you on your botanical journey, offering personalized guidance and expert advice every step of the way.</p>

      <p>Whether you're embarking on a grand landscaping project or simply looking to add a touch of green to your urban jungle, Jungle is your trusted partner in all things botanical. Let us help you cultivate your own slice of paradise, where the beauty of nature flourishes and thrives. Welcome to Jungle, where every plant tells a story, and every garden is a masterpiece in the making.</p>
    </div>
  </div>
</div>